:root {
    --primario: #9c27b0;
    --primario-oscuro: #9c27b0;
    --secunario: #ffce00;
    --secunario-oscuro: rgb(233,287,2);
    --blanco: #fff;
    --negro: #000;

    --fuente-principal: 'Staatliches', cursive;
}